{
    "prefix": "your prefix",
    "token": "your token",

    "slashCommands": {
        "mode": "global",
        "guildID": "your guild id"
    },

    "database": {
        "uri": "Your mongoURI",
        "collection": "the name of the db",
        "enabled": true
    },

    "spotify": {
        "secret": "your spotify secret",
        "id": "your spotify id"
    },

    "TO DISABLED A MODULE SET THE 1 VALUE TO 0": "1 = Enabled. 0 = Disabled.",
    "enabledModules": {
        "cogs.dev": 1,
        "cogs.economy": 1,
        "cogs.fun": 1,
        "cogs.levels": 1,
        "cogs.mod": 1,
        "cogs.music": 1,
        "cogs.favorites": 1,
        "cogs.utility": 1,
        "cogs.freshChannel": 1,
        "utils.errorhandler": 1,
        "utils.help": 0,
        "utils.support_join": 0,
        "jishaku": 1
    }
}