<!DOCTYPE html>
<html>
  <head>
    <title>Fresh Dashboard</title>
    <meta name="title" content="Fresh Panel">
    <link rel="icon" type="image/png" href="static/images/profilePic.png">
    <link rel="stylesheet" type="text/css" href="static/index.css">
    <meta property="og:title" content="Fresh Panel"/>
    <meta property="og:type" content="website"/>
    <meta property="og:url" content="http://jonnythedev.com"/>
    <meta property="og:image" content="http://jonnythedev.com/static/images/profilePic.png"/>
    <meta property="og:description" content="Manage your account or server settings with the all new Fresh panel!"/>
    <meta name="theme-color" content="#0e9a51">
  </head>
  <body>
    <header>
        <h1>Hello, {{user.name}}!</h1>
    </header>
    <div class="account-wrapper">
      <h2>Account Settings:</h2>
      <div class="profile">
        <img class="picture" src="{{user.avatar_url}}"/>
        <h3>{{user.name}}</h3>
        <h6>#{{user.discriminator}}</h6>
      </div>
      <div class="favorites">
        <h1>Your Favorite Songs:</h1>
        {% if favsongs is not none %}
        {% for song in favsongs %}
        <li>{{ song }} </li>
        {% endfor %}
        {% else %}
        <li>You dont have any favorites songs! Try adding some in discord!</li>
        {% endif %}
      </div>
      <div class="spotify-card">
        <img src="/static/images/spotify.png"/>
        {% if spotify_account is not none %}
        <h1>Connected</h1>
        {% else %}
        <h2>Connect Account</h2>
        {% endif %}
      </div>
    </div>
    <div class="guild-wrapper">
      <h2>Please select a server, if you would like to change guild settings.</h2>
        <div class="cards">
			{% for guild in guilds %}
      <figure class="card">
			  <a href="/dashboard/{{guild.id}}">
					{% if guild.icon_url is not none %}
          <img src="{{guild.icon_url}}" />
					{% else %}
					<img src="https://discordapp.com/assets/322c936a8c8be1b803cd94861bdfa868.png" />
					{% endif %}
          <figcaption>{{ guild.name }}</figcaption>
			    </a>
	    </figure>
			{% endfor %}
        </div>
    </div>
  </body>
</html>